@font-face {
  font-family: "iconfont"; /* Project id 3720855 */
  src: url('iconfont.woff2?t=1667114711528') format('woff2'),
       url('iconfont.woff?t=1667114711528') format('woff'),
       url('iconfont.ttf?t=1667114711528') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-Group427319243:before {
  content: "\e621";
}

.icon-jietu:before {
  content: "\e624";
}

.icon-jujiao:before {
  content: "\e628";
}

.icon-xiala:before {
  content: "\e63f";
}

.icon-zhongzhi-:before {
  content: "\e63e";
}

.icon-back:before {
  content: "\e637";
}

.icon-chongdian:before {
  content: "\e63c";
}

.icon-jiaoju:before {
  content: "\e62f";
}

.icon-dengpao:before {
  content: "\e719";
}

.icon-dengguang:before {
  content: "\e603";
}

.icon-jiqiren:before {
  content: "\e64b";
}

.icon-disconnect:before {
  content: "\e7e1";
}

.icon-connection:before {
  content: "\e851";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-denglu:before {
  content: "\e622";
}

.icon-home:before {
  content: "\e600";
}

.icon-xitong:before {
  content: "\e615";
}

.icon-xunjianrenyuan:before {
  content: "\e63a";
}

.icon-zu:before {
  content: "\e614";
}

.icon-jingbao:before {
  content: "\e636";
}

.icon-shujufenxi:before {
  content: "\e65b";
}

.icon-view_d:before {
  content: "\e8dd";
}

.icon-kongzhi:before {
  content: "\e64f";
}

